<app-loader *ngIf="!isDataLoaded " class="overlay animated"></app-loader>
<div *ngIf="isDataLoaded" class="container-fluid animated">
    <div class="row mt-3">
        <div class="col text-right">
            <button type="button" class="btn btn-success" (click)="hide=!hide" data-toggle="collapse" data-target="#solution">
                <h4 class="d-inline" *ngIf = "hide" data-toggle="collapse" data-target="#solution">
                    Mostrar Solución
                </h4>
                <h4 class="d-inline" *ngIf = "!hide" data-toggle="collapse" data-target="#solution">
                    Ocultar Solución
                </h4>
                <i class="fas " [ngClass]="hide?'fa-chevron-down':'fa-chevron-up'"></i>
            </button>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col">
            <div id="solution" class="row collapse show">
                <div class="col">
                    <div id="solution-card" class="card border-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 border-left border-right">
                                    <div class="row">
                                        <div class="col">
                                            <h3>Entradas</h3>
                                            <h6 *ngFor="let input of exercise.solution.inputs">
                                                <span class="h5 font-weight-bold">
                                                            {{input.name}}
                                                        </span>: {{input.type}}
                                            </h6>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <h3>Salidas</h3>
                                            <h6 *ngFor="let output of exercise.solution.outputs">
                                                <span class="h5 font-weight-bold">
                                                            {{output.name}}
                                                        </span> : {{output.type}}
                                            </h6>
                                        </div>
                                    </div>
                                    <hr class="d-lg-none">
                                </div>
                                <div class="col-lg-8 border-left border-right">
                                    <div class="row">
                                        <div class="col">
                                            <h3>Código</h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col">
                                                <div style="height: 400px">
                                                    <ngs-code-editor style="height: 100%" theme="vs" [codeModel]="solutionCodeModel" [readOnly]="true" [options]="options" (loaded)=" hideSolution()" (valueChanged)="onCodeChanged($event)">
                                                    </ngs-code-editor>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5" [ngClass]="hide?'':'mt-4'">

            <div class="card  border-dark h-100">
                <div class="card-header ">
                    <div class="row">
                        <div class="col">
                            <h3>Definición</h3>
                        </div>
                        <div class="col text-right mt-1">

                            <button type="button" class="btn btn-info" [disabled]="fileURL === ''" (click)="downloadMyFile()"><i class="fas fa-lg fa-file-download"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="font-weight-bold">{{exercise.name}}</h2>
                            <h6><span class="font-weight-bold">Categoría: </span> {{exercise.section}}</h6>
                        </div>
                        <div class="col-md-6">
                            <app-star-rating [ratingInfo]="getRatingInfo()"></app-star-rating>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col">
                            <h6><span class="font-weight-bold">Autor: </span> {{exercise.creator}}</h6>
                        </div>
                        <div class="col  text-right">
                            <h6>
                                <span class="font-weight-bold">Creación: </span> {{exercise.created | date : 'dd/MM/yyyy'}}
                            </h6>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col">
                            <br>
                            <h5 class="font-weight-bold">Descripción</h5>
                            <h6 class="d-inline">{{exercise.details }}</h6>
                            <br><br>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-7 mt-4" [ngClass]="hide?'mt-lg-0':'mt-lg-4'">
            <div class="card border-dark h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col">

                            <h3>Ejemplos</h3>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let example of exercise.examples" class="row">
                        <div class="col">
                            <h5 *ngIf="example.comment.length!=0">{{example.comment}}</h5>
                            <h5 class="text-info font-weight-bold">>>> {{example.call}}</h5>
                            <h5 class="text-secondary">{{example.result}}</h5>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>