<div class="container-fluid">
    <hr>
    <app-category-card></app-category-card>
    <hr>
    <app-difficulty-card></app-difficulty-card>
    <hr>
    <div class="row">
        <div class="col-md-4 col-12">
            <app-exercise-card></app-exercise-card>
        </div>
        <div class="col-md-4 col-12">
            <app-exercise-card></app-exercise-card>
        </div>
        <div class="col-md-4 col-12">
            <app-exercise-card></app-exercise-card>
        </div>
        <div class="col-md-4 col-12">
            <app-exercise-card></app-exercise-card>
        </div>
        <div class="col-md-4 col-12">
            <app-exercise-card></app-exercise-card>
        </div>
        <div class="col-md-4 col-12">
            <app-exercise-card></app-exercise-card>
        </div>

    </div>


    <hr>
</div>