<div class="card  animated border-dark h-100">
    <div class="card-header">
        <div>
            <div class="row">
                <div class="col-8">
                    <h3>{{exercise.name}}</h3>
                    <hr>
                    <h6><span class="font-weight-bold">Categoría: </span> {{exercise.section}}</h6>
                </div>
                <div class="col-4 text-right">
                    <h5>
                        <i *ngFor='let in of counter(exercise.level,true)' class="fas fa-star text-warning "></i>
                        <i *ngFor='let in of counter(exercise.level,false)' class="fas fa-star"></i>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h6><span class="font-weight-bold">Autor: </span> {{exercise.creator}}</h6>
            </div>
            <div class="col  text-right">
                <h6>
                    <span class="font-weight-bold">Creación: </span> {{exercise.created | date : 'dd/MM/yyyy'}}
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="font-weight-bold">Descripción</h6>
                <p class="d-inline">{{exercise.details | slice:0:250}}</p>
                <p class="d-inline" *ngIf="exercise.details.length>250?true:false">...</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row text-center text-md-right">
            <div class="col">
                <button type="button" class="btn btn-secondary mr-3 " (click)="goToExercise()"><i class="fas fa-lg fa-external-link-square-alt"></i></button>
                <button type="button" class="btn btn-info mr-3 " (click)="editExercise()"><i class="fas fa-lg fa-edit"></i></button>
                <button type="button" class="btn btn-danger mr-3 "><i class="fas fa-lg fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
</div>