.main-cont{
    padding-left: 10%; 
    padding-right: 10%;
}

.form-card{
    padding-left: 15%; 
    padding-right: 15%;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}