<h3>
    Dificultad
    <button type="button" class="btn btn-light" (click)="hide=!hide" data-toggle="collapse" data-target="#difficulties">
        <i class="fas " [ngClass]="hide?'fa-chevron-down':'fa-chevron-up'"></i>
    </button>
</h3>

<div id="difficulties" class="collapse show">
    <div *ngFor="let category of difficulties, index as i" class="d-inline">
        <button type="button" class="btn my-2 mr-2" [ngClass]="category.selected? 'btn-dark': 'btn-outline-dark'" (click)="selectCategory(i)">
                
            <h5 class="py-3">
                <i *ngFor='let in of counter(category.level)' class="fas fa-star text-warning " ></i> 
                <i *ngFor='let in of counter(5-category.level)' class="fas fa-star" ></i> 
                <br>
                <br>
                <span class="badge" [ngClass]="category.selected? 'badge-light': 'badge-dark'">{{category.amount}}</span>
            </h5>
          
                
        </button>
    </div>
</div>