<h3>
    Dificultades
    <button type="button" class="btn btn-light" (click)="hide=!hide" data-toggle="collapse" data-target="#difficulties">
        <i class="fas " [ngClass]="hide?'fa-chevron-down':'fa-chevron-up'"></i>
    </button>
</h3>

<div id="difficulties" class="collapse">
    <div *ngFor="let difficulty of difficulties, index as i" class="d-inline">
        <button type="button" class="btn my-2 mr-2" [ngClass]="difficulty.selected? 'btn-dark': 'btn-outline-dark'" (click)="selectDifficulty(i)">              
            <h5 class="pt-1">
                <i *ngFor='let in of counter(difficulty.level,true)' class="fas fa-star text-warning "></i>
                <i *ngFor='let in of counter(difficulty.level,false)' class="fas fa-star"></i>
                
                <span class="badge ml-2" [ngClass]="difficulty.selected? 'badge-light': 'badge-dark'">{{difficulty.amount}}</span>
            </h5>
        </button>
    </div>
</div>